body{
    font-family: 'Baloo Bhaina 2', cursive;
    color:white;
    margin: 0px;
    padding: 0px;
    background: url(back.jpg);
   
 }
 .left {
     /* border:2px solid red; */
    display: inline-block;
    position:absolute;
    left:34px;
    top:20px;
    
 }
 .left img{
     width:100px;
     filter: invert(100%);
    


 }
 .left h2{
       text-align: center;
       padding: 0px;
       margin:0px;
      
      
    
 }
 .mid{
    /* border:2px solid green; */
    display:block;
    /* display should be blocked for center  using; */
    width:45%;
    margin:20px 350px;
   
 }
 .right {
    /* border:2px solid yellow; */
   display: inline-block;
   position: absolute;
   right:10px;
   top:20px;

 }
 .navbar{
     display:inline-block
 }

 .navbar li{
     display:inline-block;
     font-size: 18px;
 }
 .navbar li a{
     color: white;
     text-decoration: none;
     
     padding: 23px 23px;
 }
  .navbar li a:ac  {
    text-decoration: underline;
    color:gray;
 }
 .navbar li a:hover{
    text-decoration: underline;
    color:gray;
 }
 .btn{
     margin: 0px 9px;
     background-color:black;
     color:white;
     padding: 4px 14px;
     border :2px solid grey;
     border-radius:10px;
     font-size:20px;
     cursor:pointer;
     font-family: 'Baloo Bhaina 2', cursive; 
 }
 .btn:hover{
     background-color: rgb(70, 69, 69);
 }
 .container {
border: 2px solid white;
margin: 106px 80px;
padding: 75px;
width: 33%;
border-radius: 28px;
}

.form-group input {
font-family: 'Baloo Bhai', cursive;
text-align: center;
display: block;
width: 508px;
padding: 1px;
border: 2px solid black;
margin: 11px auto;
font-size: 25px;
border-radius: 8px;
}

.container h1 {
text-align: center;
}

.container button {
display: block;
width: 74%;
margin: 20px auto;
}

.button
 {

        background-color: #9a9a9b;
        border:  2px solid rgb(215, 215, 230);
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;


}

#user
{
    /* border: 2px solid white; */
    border-bottom: 6px solid red;
}